* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f39494;
    background: linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%),
        linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%), #f39494;
}

a {
    color: #089fe0;
    text-decoration: none;
}

a:hover {
    color: #f39494;
}

p {
    color: #676767;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
}

button {
    background-color: #089fe0;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 5px;
    position: relative;
}

button:hover {
    background-color: #078fc9;
}

button:active {
    background-color: #0581b6;
}

button svg {
    position: absolute;
    top: 0.55rem;
    right: 1.35rem;
    width: 1.35em;
    height: 1.35em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

input {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    font-style: italic;
    font-size: 16px;
    color: #999999;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 44px;
    padding: 0.8rem;
}

input:focus {
    background-color: #ffffff;
    font-style: normal;
    color: #333333;
    font-weight: bold;
    outline: none;
}

input[name='checkbox'] {
    opacity: 0;
}

label[for='checkbox']::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 2px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: #f5f5f5;
    font-size: 11px;
}

input[name='checkbox']:checked + label[for='checkbox']::before {
    background-color: #089fe0;
    content: '✔';
    padding: 0 3px;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 580px;
    padding: 53px 93px 80px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container h1 {
    margin-bottom: 0.3rem;
}

.container h1+p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto 47px;
}

form .user_name {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

form .user_name input:first-child,
form .user_name input:first-child:focus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

form .user_name input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form .terms {
    font-size: 14px;
    margin: 0;
    position: relative;
}